
:root {
    --fontColor: #495057;
    --redColor:#ff0000;
    --whiteColor: #ffffff;
}
html, body{
	padding: 0;
	margin: 0;
}
.navbar-brand-box{
	padding: 0;
    margin: 0;
}
.navbar-brand-box .logo-lg h1{
    padding: 0;
    margin: 0;
    line-height: 70px;
    color: var(--whiteColor);
}
.navbar-brand-box .logo-sm h4{
    padding: 0;
    margin: 0;
    line-height: 70px;
	color: var(--whiteColor);
}
.signup-logo{
    text-align: center;
}
.signup-logo a {
    width: auto;
    display: inline-block;
    margin-top: -26px;
    height: 72px;
    z-index: 999;
    position: relative;
}
.categories_items label {
    display: block;
}
.categories_items label a {
    color: var(--fontColor);
    margin-bottom: 15px;
    display: block;
    width: 180px;
    font-size: 14px;
}
dl, ol, ul {
    list-style: none;
}
.categories_items {
    min-width: 180px;
}
.btn-default {
    background: #f1f1f1;
    outline: 0;
    border-color: #dddddd;
    font-size: 15px;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    -webkit-transition: 200ms ease-in-out;
    transition: 200ms ease-in-out;
}
.text-box input[type="checkbox"] {
    margin-right: 6px;
    position: relative;
    top: 3px;
}
.text-box input[type="checkbox"] {
    margin-right: 6px;
    position: relative;
    top: 3px;
}
.text-box label {
    cursor: pointer;
}
.text-red {
    color:var(--redColor);
}
.categories_box {
    border-bottom: 1px solid #ddd;
}
.card-body .input-daterange input[type="date"] {
    border: 1px solid #ced4da;
}
.page-title-right ol {
    float: right;
}
.col-12.create-product {
    margin-bottom: 30px;
}
#datatable-buttons_wrapper div.row .col-sm-12.col-md-6:first-child {
    position: relative;
    top: -8px;
    right: 0;
}
span.inactive {
    width: 15px;
    height: 15px;
    display: block;
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;
    text-indent: -300px;
    overflow: hidden;
    margin-top: 3px;
}
span.active {
    width: 15px;
    height: 15px;
    display: block;
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;
    text-indent: -300px;
    overflow: hidden;
    margin-top: 3px;
}
.breadcrumb-item>a.btn {
    color: var(--whiteColor);
}
#datatable-buttons tr td a i.bx {
    font-size: 18px;
    color: var(--fontColor);
}